# Environment Variables
.env

# Virtual Environment
venv/
env/
.venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac OS
.DS_Store

# IDEs
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/
